a:link {
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
}

.nav-bar-main-container {
  background-image: linear-gradient(to right, #010626, #12356D);
  width: 100%;
  color: white;
  position: fixed;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.left-nav-bar-container{
  padding-left: 20px;
  display:flex;
}

.right-nav-bar-container{
  padding-right: 20px;
  width: 70%;
}

.nav-page-search-bar-form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-nav-bar-search-input{
  max-width: 450px;
}